<yl-loading *ngIf="isLoadingFeed$ | async"></yl-loading>
<yl-error-message  *ngIf="feedError$ | async"></yl-error-message>

<div *ngIf="feedData$ | async as data">
  <div class="article-preview" *ngFor="let article of data?.articles">
    <div class="article-meta">
      <a [routerLink]="['/profiles',article.author.username]">
        <img [src]="article.author.image" alt="iamge">
      </a>

      <div class="info">
        <a [routerLink]="['/profiles',article.author.username]">
          {{article.author.username}}
        </a>
        <span class="date">{{article.createdAt}}</span>
      </div>
      <div class="pull-xs-right">
        Add to favorites
      </div>
    </div>
    <a class="preview-link" [routerLink]="['/articles',article.slug]">
      <h1>{{article.title}}</h1>
      <p>{{article.description}}</p>
      Here is list of tags
    </a>
  </div>
  <yl-pagination [articlesCount]="(feedData$ | async).articlesCount" [currentPage]="" [limit]="" [url]=""></yl-pagination>
</div>
